<div class="container-fuild containerfooter" id="foot">
    <footer class="text-center">
        <div class="row service-info mt-2">
            <div class="col-md-3 ml-auto border-right border-secondary">
                <h5 class="footer-title">Navigate</h5>
                <ul>
                    <li>
                        <a href="design.html">Design pictures </a>
                    </li>
                    <li>
                        <a href="products.html">Model</a>
                    </li>
                    <li>
                        <a data-toggle="modal" href="#aboutUs">Help</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 border-right border-secondary">
                <h5 class="footer-title">Company</h5>
                <ul>
                    <li>
                        <a data-toggle="modal" href="#aboutUs">About us </a>
                    </li>
                    <li>
                        <a data-toggle="modal" href="#aboutUs">Work with us </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 mr-auto">
                <h5 class="footer-title">Contact</h5>
                <p>Weekdays 9am - 8pm ET</p>
                <p>Weekend 9am - 5pm ET</p>
                <p>(866) 440-8237</p>
                <button type="button" class="btn btn-primary" id="btn_email">Email us
                </button>
            </div>
        </div>
        <div class="row icon-fanpage">
            <div class="col-md-5 mx-auto">
                <span class="fa-stack fa-lg">
                    <a href="https://www.facebook.com/long.hac.73">
                        <i class="fas fa-circle fa-stack-2x icon-background1"></i>
                        <i class="fab fa-facebook-f fa-stack-1x " style="color: white"></i>
                    </a>
                </span>
                <span class="fa-stack fa-lg">
                    <a href="https://twitter.com/caobadong19">
                        <i class="fas fa-circle fa-stack-2x icon-background2"></i>
                        <i class="fab fa-twitter fa-stack-1x" style="color: white"></i>
                    </a>
                </span>
                <span class="fa-stack fa-lg">
                    <a href="https://www.instagram.com/vrdong/">
                        <i class="fas fa-circle fa-stack-2x icon-background4"></i>
                        <i class="fab fa-instagram fa-stack-1x" style="color: white"></i>
                    </a>
                </span>
            </div>
        </div>
        <div class="row icon-fanpage">
            <div class="col-md-4 mx-auto"></div>
            <div class="col-md-4 mx-auto">
                <p style="color: white;" id="copyright">Copyright2018 &copy; FramesVIP, Inc
                </p>
            </div>
            <div class="col-md-4 mx-auto text-right">
                <span class="fa-stack fa-sm">
                    <a href="#top">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-arrow-up fa-stack-1x " style="color: white"></i>
                    </a>
                </span>
            </div>
        </div>
    </footer>
</div>

    <!--MODAL BOX PRODUCT DETAIL-->
    <div class="modal fade" id="aboutUs" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">About Us</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6">
                        Hà Tấn Linh MSSV:1512284
                    </div>
                    <div class="col-6">
                        Cao Bá Đông MSSV:1512113
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>     
    </div>
</div>