<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top header">
    <!--LOGO-->
    <a href='/'><img class="navbar-brand" src='/images/logo.png' alt="logo"></a>
    <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!--COLLAPSE NAVBAR-->
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <!--NAViGATION-->
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item ">
                <a class="nav-link" href='/'>
                    <i class="fas fa-home"></i>Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
           <li class="nav-item">
                <a class="nav-link" href="/shopping-cart/">
                    <i class="fas fa-shopping-cart"></i>Shopping Cart
                    <span class="badge badge-success">{{session.cart.totalQty}}</span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user"></i>User Management
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {{#if login}}
                        <a class="dropdown-item" href="/users/profile">User Account</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/users/logout">Logout</a>
                    {{else}}
                        <a class="dropdown-item" href="/users/signup">Sign up</a>
                        <a class="dropdown-item" href="/users/signin">Sign in</a>
                    {{/if}}
                </div>
            </li>
        </ul>
    </div>
</nav>