<div class="container containercheckout">
    <hr class="mb-4">
    <h4 class="mb-3">Payment</h4>
    <div class="mb-3">Please choose your payment method</div>
    <form action="/cod" method="post">
        <input type="submit" value="Ship CoD" class="btn btn-primary">
    </form>
    <hr class="mb-4">
    <form action="/paypal" method="post" class="mb-5">
        <input type="submit" value="Paypal" class="btn btn-primary">
    </form>
</div>